.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;

  user-select: none;
}

.image {
  width: 22rem;
  height: 22rem;
}

.title,
.subtitle {
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
}

.title {
  margin-bottom: 2rem;
}

.subtitle {
  font-style: oblique;
}
