.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  border-radius: 0.4rem;
  box-shadow: var(--box-shadow-green);

  cursor: pointer;
  will-change: transform;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-0.6rem);

    .heart {
      opacity: 1;
    }

    .inFavorite {
      opacity: 1;
    }
  }
}

.image {
  width: 100%;
  height: 18rem;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.details {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.8rem;

  span {
    margin-left: 0.1rem;
  }
}

.block {
  display: flex;
  align-items: center;
}

.counter {
  margin-right: 1rem;

  border-bottom: 1px solid #331c21;

  font-size: 2rem;
  font-weight: 600;
}

.heart,
.inFavorite {
  padding: 1rem;

  border-radius: 0.4rem;

  font-size: 4rem;

  opacity: 0;
  transition: all 0.2s linear;
}

.heart {
  color: var(--orange);
  box-shadow: var(--box-shadow-green);

  &:hover {
    box-shadow: var(--box-shadow-orange);
  }
}

.inFavorite {
  color: var(--red);
  box-shadow: var(--box-shadow-red);

  &:hover {
    box-shadow: var(--box-shadow-red);
  }
}

.button {
  padding: 1em 2em;

  border-radius: 0.4rem;
  background-color: var(--orange);

  font-family: inherit;
  font-size: 1.5em;
  font-weight: 600;

  cursor: pointer;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: #ebdd0e;
  }
}
