.container {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 100rem;
  margin: 4rem auto;
  padding: 0 2rem;
}

.title {
  margin-bottom: 4rem;

  font-size: 5rem;
  line-height: 1;
  font-weight: 800;
  user-select: none;
}

.image {
  width: 40rem;
  height: 40rem;
  padding: 2rem;

  border-radius: 1rem;
  box-shadow: var(--box-shadow-green);

  user-select: none;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.actions {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.action {
  padding: 1rem 3rem;

  border-radius: 0.4rem;
  background-color: var(--black);

  font-size: 3rem;
  line-height: 1;
  color: var(--green);

  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: var(--green);
    color: var(--black);
  }
}

.favorite {
  color: var(--red);

  &:hover {
    color: var(--red);
  }
}

.info {
  li {
    margin-bottom: 1rem;
    padding: 1rem;

    border-radius: 0.4rem;

    font-size: 3rem;
    font-weight: 700;
  }

  li:nth-child(odd) {
    background-color: var(--black);
    color: var(--green);
  }

  li:nth-child(even) {
    background-color: var(--green);
    font-weight: 900;
    color: var(--black);
  }
}
