.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  min-width: 100vw;

  user-select: none;
}

.title {
  display: inline-block;
  margin-right: 1rem;

  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.1rem;

  transition: color 0.1s linear;

  &:hover {
    color: var(--orange);
  }
}

.lemon {
  width: 3.5rem;
  height: 3.5rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.favorite,
.cart {
  display: grid;
  place-items: center;

  font-size: 3.5rem;

  user-select: none;
  transition: color 0.2s ease;

  position: relative;

  span {
    font-size: 1.5rem;
  }

  &:hover {
    color: var(--blue);
  }
}

.favoriteQty,
.cartQty {
  padding: 0.2rem 0.5rem;

  border-radius: 0.4rem;
  background-color: #1f2937;

  line-height: 1;
  color: #fff;

  position: absolute;
  z-index: 1;
}

.favoriteQty {
  top: -25%;
  right: -10%;
}

.cartQty {
  top: -25%;
  right: -35%;
}

.cost {
  font-size: 1.7rem;
}
