.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto 4rem;
  padding: 1rem;
}

.title {
  margin: 4rem 2rem;

  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  grid-auto-rows: 1fr;
  gap: 6rem;
}

