@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

input,
button {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

:root {
  --black: #331c21;
  --white: #f3f4f6;
  --orange: #fcbc44;
  --green: #50dbc4;
  --blue: #495191;
  --box-shadow-green: 5px 6px 8px var(--green);
  --box-shadow-orange: 5px 6px 8px var(--orange);
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  overflow-x: hidden;

  background-color: var(--white);

  font-family: 'Roboto Slab', serif;
  color: var(--black);

  ::selection {
    background-color: var(--blue);
  }
}

.app {
  display: grid;
  grid-template: minmax(10rem, auto) 1fr / 1fr;
  grid-template-areas:
    'header'
    'main';
  min-height: 100%;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(20rem, 1fr) 4fr;
}

.container {
  width: 100%;
  max-width: 100rem;
  margin: 4rem auto;
}
